{% extends 'shared/base.html' %}
{% load static %}

{% block title %}Shoe Collection{% endblock %}

{% block content %}
<div class="home-wrapper">

    <h1 class="section-title">Basketball Shoes</h1>
    <div class="create-wrapper">
        <a href="{% url 'shoes:create' %}" class="btn-create">+ Create Shoe</a>
    </div>

    {% include 'shared/cat_block.html' %}

    {% if object_list %}
    {% include 'shared/shoe_card.html' %}
    {% else %}
        <h2 class="empty-message">No Basketball Shoes Yet.</h2>
    {% endif %}

    {% include 'shared/pagination.html' %}

</div>
{% endblock %}
